[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
requests = "*"
psycopg2-binary = "*"
environ = "*"
django-dotenv = "*"
gunicorn = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
