{% extends "dashboard/base.html" %}
        
{% block title %}Clients{% endblock %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="view-controls med-padding">
                <div class="columns is-mobile">
                    <div class="column is-two-thirds-desktop">
                        <div class="c-view">
                            <p>View as</p>
                            <a class="c-event-toggle__list"><i class="fas fa-list"></i> <span>List</span></a>
                            <a class="c-event-toggle__grid"><i class="fas fa-grip-horizontal"></i> <span>Grid</span></a>
                        </div>
                    </div>
                    <div class="column is-one-third-desktop">
                        <div class="c-sort is-pulled-right">    
                            <p>Sort by</p>
                            <a class="c-event-sort__alphabetical" href="?sort=name"><i class="fas fa-sort-alpha-up"></i> <span>Name</span></a>
                            <a class="c-event-sort__owner" href="?sort=owner"><i class="fas fa-user"></i></i> <span>Owner</span></a>
                            <a class="c-event-sort__time" href="?sort=time"><i class="far fa-clock"></i> <span>Time</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section c-clients-list state--client-list">
        <div class="container">
            <div class="headings med-padding is-hidden-touch">
                <div class="columns">
                    <div class="column is-three-fifths">
                        <span class="title is-3">Clients</span>
                    </div>
                    <div class="column is-one-fifth">
                        <span class="title is-3">Hours spent</span>
                    </div>
                    <div class="column is-one-fifth">
                        <span class="title is-3">Over/Under</span>
                    </div>
                </div>
            </div>

            <ul class="client-list">
                {% for client in clients %}
                    <li class="c-single-client">
                        <div class="inner status-{{ client.status }} med-padding">
                            <div class="columns">
                                <div class="column is-three-fifths c-client-name">
                                    <h2 class="subtitle is-4">{{ client.name }}</h2>
                                </div>
                                <div class="column is-one-fifth c-client-time">
                                    <span class="content is-medium">{{ client.time_spent }} / {{ client.sla_hours }}</span>
                                </div>

                                <div class="column is-one-fifth c-client-status">
                                    <span class="has-text-weight-semibold">
                                        {{ client.hours_remaining_label }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
