.state--client-grid {
    .c-single-client {
        .inner {
            border:2px solid #f5f5f5;
            &.status-warning {
                border-top:4px solid $yellow;
            }
            &.status-critical {
                border-top:4px solid $red;
            }
            &.status-fine {
                border-top:4px solid $green;
            }
        }
        .columns {
            flex-direction:column;
            .c-client-name, .c-client-time, .c-client-status {
                width:100%;
            }
        }
    }
}

.state--client-list {
    .c-single-client {
        .inner {
            border:2px solid #f5f5f5;
            &.status-warning {
                border:2px solid $yellow;
            }
            &.status-critical {
                border:2px solid $red;
            }
            &.status-fine {
                border:2px solid $green;
            }
        }
    }
}

ul {
    li {
        margin-bottom:2rem;
    }
}