///* ========================================================================
//   #COLOURS
//   ======================================================================== */
// The list of colour variables used globally across the project

$white: #ffffff;
$black: #111111;
$off-white: #141111;
$off-black: #222222;


$red: #FC3C63;
$green: #31CF65;