@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fa-light-300.woff2') format('woff2'),
         url('../fonts/fa-light-300.woff') format('woff'),
         url('../fonts/fa-light-300.svg') format('svg'),
         url('../fonts/fa-light-300.eot') format('eot'),
         url('../fonts/fa-light-300.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fa-regular-400.woff2') format('woff2'),
         url('../fonts/fa-regular-400.woff') format('woff'),
         url('../fonts/fa-regular-400.svg') format('svg'),
         url('../fonts/fa-regular-400.eot') format('eot'),
         url('../fonts/fa-regular-400.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fa-solid-900.woff2') format('woff2'),
         url('../fonts/fa-solid-900.woff') format('woff'),
         url('../fonts/fa-solid-900.svg') format('svg'),
         url('../fonts/fa-solid-900.eot') format('eot'),
         url('../fonts/fa-solid-900.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family:"Neuzeit Office";
    src:url("../fonts/4a572866-5605-49ea-ba15-94da930eb437.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Neuzeit Office";
    src:url("../fonts/4a572866-5605-49ea-ba15-94da930eb437.eot?#iefix");
    src:url("../fonts/4a572866-5605-49ea-ba15-94da930eb437.eot?#iefix") format("eot"),url("../fonts/ade0437c-075f-4d7c-9c40-7380d9683682.woff2") format("woff2"),url("../fonts/f5e09b25-479c-4a4c-b681-5a6d440e5e38.woff") format("woff"),url("Fonts/5b005a1e-83eb-46ce-b33c-56b0d14d6168.ttf") format("truetype"),url("../fonts/85050462-ab1f-4478-a289-36eed1d3c53f.svg#85050462-ab1f-4478-a289-36eed1d3c53f") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
    font-family:"Neuzeit Office";
    src:url("../fonts/c8c628d4-177d-463a-93dd-01e996bcd645.eot?#iefix") format("eot")
}
@font-face{
    font-family:"Neuzeit Office";
    src:url("../fonts/c8c628d4-177d-463a-93dd-01e996bcd645.eot?#iefix");
    src:url("../fonts/c8c628d4-177d-463a-93dd-01e996bcd645.eot?#iefix") format("eot"),url("../fonts/01c5affa-d005-4498-835d-fce91b52a749.woff2") format("woff2"),url("../fonts/fb051ede-ed8d-494e-bebc-13e53b133b4e.woff") format("woff"),url("../fonts/c147aa15-6e48-4b80-bdf0-cc505d0a72dd.ttf") format("truetype"),url("../fonts/d4cb246e-742d-4269-9f6a-901a050ff03f.svg#d4cb246e-742d-4269-9f6a-901a050ff03f") format("svg");
font-weight: 700;
font-style: normal;
}


@mixin font-thin {
    font-weight: 100;
}
@mixin font-light {
    font-weight: 300;
}
@mixin font-reg {
    font-weight: 400;
}
@mixin font-med {
    font-weight: 500;
}
@mixin font-semi-bold {
    font-weight: 600;
}
@mixin font-bold {
    font-weight: 700;
}
@mixin font-italic {
    font-style: italic;
}


@mixin ff-sans {
    font-family: 'Neuzeit Office', sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.03em;
}