.med-padding {
    padding:1.5rem;
}

.view-controls {
    padding:1.5rem 0;
    p {
        margin-bottom:10px;
    }
    a {
        color:$dark-blue;
        font-size: 1.4em;
        margin-right: 10px;
        span {
            font-size:85%;
            margin-left:5px;
        }
        &:hover {
            svg {
                color:$blue;
            }
        }
    }
}

.c-filters {
    padding:0 5% !important;
}

.c-filter {
    margin:0 20px 0 0;
}
